<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_PM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Client_PM.Properties.Settings>
            <setting name="First_Use" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionFureteur" serializeAs="String">
                <value />
            </setting>
            <setting name="PositionMainForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleMainForm" serializeAs="String">
                <value>1171, 721</value>
            </setting>
            <setting name="PositionAPropos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleAPropos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionAddEditPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleAddEditPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionCarousel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleCarousel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionDLG_Account" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleDLG_Account" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionDLG_Login" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleDLG_Login" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionInfoPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleInfoPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionTabs" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleTabs" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PositionCarouselSettings" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleCarouselSettings" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstUse_MainForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_APropos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_AddEditPhoto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_Carousel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_CarouselSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_DLG_Account" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_DLG_Login" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_InfoPhoto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstUse_Tabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Paramètre" serializeAs="String">
                <value>True</value>
            </setting>
        </Client_PM.Properties.Settings>
    </userSettings>
</configuration>